<div class="row">
    <!-- Column -->
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Over Priced</h5>
                <div class="row m-t-20 m-b-20">
                    <div class="col-6 border-right">
                        <h6>No. of Products</h6>
                        <b>{{overPriced?.total_product}}</b>
                    </div>
                    <div class="col-6">
                        <h6>% share</h6>
                        <b>{{overPriced?.total_share}}%</b>
                    </div>
                </div>
            </div>
            <div style="height: 60px;">
                <canvas baseChart [datasets]="overPricedChartData" [labels]="overPricedChartLabels" [options]="overPricedChartOptions" [colors]="overPricedChartColors" [legend]="overPricedChartLegend" [chartType]="overPricedChartType">
                </canvas>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Inline Priced</h5>
                <div class="row m-t-20 m-b-20">
                    <div class="col-6 border-right">
                        <h6>No. of Products</h6>
                        <b>{{inlinePriced?.total_product}}</b>
                    </div>
                    <div class="col-6">
                        <h6>% share</h6>
                        <b>{{inlinePriced?.total_share}}%</b>
                    </div>
                </div>
            </div>
            <div style="height: 60px;">
                <canvas baseChart [datasets]="inlinePricedChartData" [labels]="inlinePricedChartLabels" [options]="inlinePricedChartOptions" [colors]="inlinePricedChartColors" [legend]="inlinePricedChartLegend" [chartType]="inlinePricedChartType">
                </canvas>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Under Priced</h5>
                <div class="row m-t-20 m-b-20">
                    <div class="col-6 border-right">
                        <h6>No. of Products</h6>
                        <b>{{underPriced?.total_product}}</b>
                    </div>
                    <div class="col-6">
                        <h6>% share</h6>
                        <b>{{underPriced?.total_share}}%</b>
                    </div>
                </div>
            </div>
            <div style="height: 60px;">
                <canvas baseChart [datasets]="underPricedChartData" [labels]="underPricedChartLabels" [options]="underPricedChartOptions" [colors]="underPricedChartColors" [legend]="underPricedChartLegend" [chartType]="underPricedChartType">
                </canvas>
            </div>
        </div>
    </div>
    <!-- Column -->

    <!-- Column -->
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">No Competitor</h5>
                <div class="row m-t-20 m-b-20">
                    <div class="col-6 border-right">
                        <h6>No. of Products</h6>
                        <b>{{noCompetitor?.total_product}}</b>
                    </div>
                    <div class="col-6">
                        <h6>% share</h6>
                        <b>{{noCompetitor?.total_share}}%</b>
                    </div>
                </div>
            </div>
            <div style="height: 60px;">
                <canvas baseChart [datasets]="noCompetitorChartData" [labels]="noCompetitorChartLabels" [options]="noCompetitorChartOptions" [colors]="noCompetitorChartColors" [legend]="noCompetitorChartLegend" [chartType]="noCompetitorChartType">
                </canvas>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>