<div class="row">
    <!-- Column -->
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Over Priced</h5>
                <div class="row m-t-20 m-b-20">
                    <div class="col-6 border-right">
                        <h6>No. of Products</h6>
                        <b>50</b>
                    </div>
                    <div class="col-6">
                        <h6>% share</h6>
                        <b>20%</b>
                    </div>
                </div>
            </div>
            <div style="height: 60px;">
                <canvas baseChart [datasets]="lineChartData1" [labels]="lineChartLabels1" [options]="lineChartOptions1" [colors]="lineChartColors1" [legend]="lineChartLegend1" [chartType]="lineChartType1">
                </canvas>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Inline Priced</h5>
                <div class="row m-t-20 m-b-20">
                    <div class="col-6 border-right">
                        <h6>No. of Products</h6>
                        <b>50</b>
                    </div>
                    <div class="col-6">
                        <h6>% share</h6>
                        <b>20%</b>
                    </div>
                </div>
            </div>
            <div style="height: 60px;">
                <canvas baseChart [datasets]="lineChartData2" [labels]="lineChartLabels2" [options]="lineChartOptions2" [colors]="lineChartColors2" [legend]="lineChartLegend2" [chartType]="lineChartType2">
                </canvas>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Under Priced</h5>
                <div class="row m-t-20 m-b-20">
                    <div class="col-6 border-right">
                        <h6>No. of Products</h6>
                        <b>50</b>
                    </div>
                    <div class="col-6">
                        <h6>% share</h6>
                        <b>20%</b>
                    </div>
                </div>
            </div>
            <div style="height: 60px;">
                <canvas baseChart [datasets]="lineChartData3" [labels]="lineChartLabels3" [options]="lineChartOptions3" [colors]="lineChartColors3" [legend]="lineChartLegend3" [chartType]="lineChartType3">
                </canvas>
            </div>
        </div>
    </div>
    <!-- Column -->

    <!-- Column -->
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">No Competitor</h5>
                <div class="row m-t-20 m-b-20">
                    <div class="col-6 border-right">
                        <h6>No. of Products</h6>
                        <b>50</b>
                    </div>
                    <div class="col-6">
                        <h6>% share</h6>
                        <b>20%</b>
                    </div>
                </div>
            </div>
            <div style="height: 60px;">
                <canvas baseChart [datasets]="lineChartData4" [labels]="lineChartLabels4" [options]="lineChartOptions4" [colors]="lineChartColors4" [legend]="lineChartLegend4" [chartType]="lineChartType4">
                </canvas>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>