<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <!-- <h4 class="card-title">Contextual Table</h4> -->
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">

                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Select A Product</label>
                            <select class="form-control custom-select" data-placeholder="Choose a Category" tabindex="1" (change)="filterWithProduct($event.target.value)">
                                <option  [value]=""  >Select A Product</option>
                                <option  *ngFor="let product of productName" [value]="product"  >{{product}}</option>
                            </select>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Site Name</th>
                                <th scope="col">Deviation</th>
                                <th scope="col">XO Price</th>
                                <th scope="col">Minimum Price</th>
                                <th scope="col">Maximum Price</th>
                                <th scope="col">Competition Seller Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of siteMatrixResponse">
                                <th scope="row">{{item.siteUrl}}</th>
                                <td [ngClass]="{'bg-success': item.deviation > 0, 'bg-danger': item.deviation < 0, 'bg-warning': item.deviation == 0 }">{{item.deviation}}%</td>
                                <td>{{item.xoPrice}}</td>
                                <td>{{item.minPrice}}</td>
                                <td>{{item.maxPrice}}</td>
                                <td>{{item.competitionSellerName}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>