<div class="row">
    <!-- Column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <h5 class="card-title">SITES VISITS</h5>
                        <div class="m-t-40">
                            <div id="placeholder" class="" style="height:350px;"></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <ul class="country-state slimscrollcountry list-inline">
                            <li>
                                <h2>6350</h2>
                                <small>From India</small>
                                <div class="float-right">48%
                                    <i class="fas fa-level-up-alt text-success"></i>
                                </div>
                                <ngb-progressbar type="success" [value]="48"></ngb-progressbar>
                            </li>
                            <li class="mb-2 mt-4">
                                <h2>3250</h2>
                                <small>From UAE</small>
                                <div class="float-right">98%
                                    <i class="fas fa-level-up-alt text-success"></i>
                                </div>
                                <ngb-progressbar type="dark" [value]="98"></ngb-progressbar>
                            </li>
                            <li class="mb-2 mt-4">
                                <h2>1250</h2>
                                <small>From Australia</small>
                                <div class="float-right">75%
                                    <i class="fas fa-level-down-alt text-danger"></i>
                                </div>
                                <ngb-progressbar type="danger" [value]="75"></ngb-progressbar>
                            </li>
                        </ul>
                        <div class="row">
                            <div class="col-md-4 m-t-20 text-center">
                                <div data-label="75%" class="css-bar m-b-0 css-bar-success css-bar-75">
                                    75
                                </div>
                                <h4>New User Visits</h4>
                            </div>
                            <div class="col-md-4 m-t-20 text-center">
                                <div data-label="65%" class="css-bar m-b-0 css-bar-info css-bar-65">
                                    65
                                </div>
                                <h4>Returning Users</h4>
                            </div>
                            <div class="col-md-4 m-t-20 text-center">
                                <div data-label="25%" class="css-bar m-b-0 css-bar-primary css-bar-25">
                                    25
                                </div>
                                <h4>Bouncing Rates</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>