<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Contextual Table</h4>
                <!-- <h6 class="card-subtitle">Use contextual classes to color table rows or individual cells.</h6> -->
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product Name</th>
                            <th scope="col">Deviation</th>
                            <th scope="col">XO Price</th>
                            <th scope="col">Minimum Price</th>
                            <th scope="col">Maximum Price</th>
                            <th scope="col">Competition Seller Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Samsung 11 A</th>
                            <td class="table-success">11.12%</td>
                            <td>100</td>
                            <td>90</td>
                            <td>120</td>
                            <td>ABC</td>
                        </tr>
                        <tr>
                            <th scope="row">Iphone 12</th>
                            <td class="table-danger">-20%</td>
                            <td>100</td>
                            <td>100</td>
                            <td>120</td>
                            <td>ABC</td>
                        </tr>

                        <tr>
                            <th scope="row">Samsung 11 A</th>
                            <td class="table-success">11.12%</td>
                            <td>100</td>
                            <td>90</td>
                            <td>120</td>
                            <td>ABC</td>
                        </tr>
                        <tr>
                            <th scope="row">Iphone 12</th>
                            <td class="table-info">-20%</td>
                            <td>100</td>
                            <td>100</td>
                            <td>120</td>
                            <td>ABC</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>