<div class="card-group m-b-30">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <h3 class="m-b-0 m-t-10">
                        <i class="icon-screen-desktop text-danger"></i>
                    </h3>
                </div>
                <div class="col-6">
                    <h1 class="text-right text-danger m-t-10">24</h1>
                </div>
                <div class="col-12">
                    <h6 class="card-subtitle">New Clients</h6>
                    <ngb-progressbar [showValue]="false" type="danger" [value]="50"></ngb-progressbar>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <h3 class="m-b-0 m-t-10">
                        <i class="icon-note text-megna"></i>
                    </h3>
                </div>
                <div class="col-6">
                    <h1 class="text-right text-megna m-t-10">16</h1>
                </div>
                <div class="col-12">
                    <h6 class="card-subtitle">New Projects</h6>
                    <ngb-progressbar [showValue]="false" type="megna" [value]="50"></ngb-progressbar>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <h3 class="m-b-0 m-t-10">
                        <i class="icon-doc text-primary"></i>
                    </h3>
                </div>
                <div class="col-6">
                    <h1 class="text-right text-primary m-t-10">15</h1>
                </div>
                <div class="col-12">
                    <h6 class="card-subtitle">New Invoices</h6>
                    <ngb-progressbar [showValue]="false" type="primary" [value]="50"></ngb-progressbar>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <h3 class="m-b-0 m-t-10">
                        <i class="icon-bag text-success"></i>
                    </h3>
                </div>
                <div class="col-6">
                    <h1 class="text-right text-success m-t-10">43</h1>
                </div>
                <div class="col-12">
                    <h6 class="card-subtitle">All Projects</h6>
                    <ngb-progressbar [showValue]="false" type="success" [value]="50"></ngb-progressbar>
                </div>
            </div>
        </div>
    </div>
</div>