<!-- <app-income-counter></app-income-counter> -->

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-10 col-md-10 col-lg-10">
                        <h4 class="card-title">Total Product Scanned: <b>{{totatProductScanned}}</b></h4>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2 hide-icon">
                        <a href="javascript:void(0)">
                            <i class="fas fa-arrow-alt-circle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-10 col-md-10 col-lg-10">
                        <h4 class="card-title">Total Sites Scanned: <b>{{totalSiteScanned}}</b></h4>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2 hide-icon">
                        <a href="javascript:void(0)">
                            <i class="fas fa-arrow-alt-circle-right"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<app-site-traffic></app-site-traffic>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title m-b-5">
                    <span class="lstick"></span>Alert (Last 7 Days)</h4>
                <div class="table-responsive">
                    <table class="table table-striped no-wrap">
                        <tbody>

                            <tr *ngFor="let item of alertResponse">
                                <th scope="row">
                                    <a href="javascript:void(0)" class="btn-link">   
                                    {{item.day}}</a>
                                </th>
                                <td>{{item.alias}}</td>
                                <td>{{item.price}}</td>
                                <td><span class="text-muted">
                                       <i class="ti-arrow-up text-success"></i>{{item.percentage}}</span></td>
                                <td class="text-center"><span class="label label-table label-success">{{item.object}}</span></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<app-site-visit></app-site-visit>

<div class="row" style="margin-top:-30px;">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">

                    <ul class="list-inline m-b-0 m-auto">
                        <li class="list-inline-item">
                            <h6 class="text-danger">
                                <i class="fa fa-circle font-10 m-r-10 "></i>amazon</h6>
                        </li>
                        <li class="list-inline-item">
                            <h6 class="text-info">
                                <i class="fa fa-circle font-10 m-r-10"></i>ebay</h6>
                        </li>
                        <li class="list-inline-item">
                            <h6 class="text-primary">
                                <i class="fa fa-circle font-10 m-r-10"></i>catch</h6>
                        </li>
                    </ul>
                </div>
                <div class="m-t-20" style="height:350px;">
                    <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"> </canvas>
                </div>
            </div>
        </div>
    </div>
</div>