/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800');
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
.hide-icon .dropdown-toggle::after {
    display: none !important;
}

.left-130 {
    left: -130px !important;
}

.example-form-field {
    margin-right: 20px;
}

.nav-item .mat-form-field-wrapper {
    padding-bottom: 0em !important;
}

.dropdown-menu .dropdown-item {
    line-height: 1.5px !important;
}

.bg-dark {
    background-color: #ffe600f6 !important;
}